@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: "Inter", sans-serif;
}

.hero {
  background-color: #7550fe;
}

h1 {
  font-size: 48px;
}

.hero button {
  background-color: #1acb98;
}

section + .container-fluid img {
  padding: 1rem;
  background-color: #ffeeda;
  border-radius: 50%;
}
